<!--<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="page-container">  
    <div class="sidenav">
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a>
        <button class="dropdown-btn">Dropdown 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <a href="#contact">Search</a>
      </div>
      
      <div class="main">
        <h2>Sidebar Dropdown</h2>
        <p>Click on the dropdown button to open the dropdown menu inside the side navigation.</p>
        <p>This sidebar is of full height (100%) and always shown.</p>
        <p>Some random text..</p>
      </div>
      <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          } else {
          dropdownContent.style.display = "block";
          }
          });
        }
        </script>
      -->
      <div class="page-container">        
        <div class="sidebar">
            <!-- <div class="userinfomation-container">
                <a style="width: 90%;">
                    <i class="material-icons">person</i>                    
                     {{userobj.UserName}}                             
                </a> 
                <div class="logout-link">
                    <a title="Logout" (click)="onLogoutClick()" style="cursor: pointer;">
                        <i class="material-icons">person_off</i>                    
                    </a> 
                </div>  
            </div> -->
            <app-loggeedinuser></app-loggeedinuser>
            <div class="list-items">
                <a (click)="onClientSearchClick()" class="list-item">
                    <i class="material-icons">account_circle</i>
                    Clients
                </a>
                <a (click)= "onTaskClick()" class="list-item">
                    <i class="material-icons">assignment</i>
                    Tasks
                </a>
                <a class="list-item">
                    <i class="material-icons">bookmark_border</i>
                    Master Items
                </a>
            </div>
        </div>
        
        <div class="page-container-container">            
            <!-- <router-outlet></router-outlet> -->
        </div>    
    </div>