<!-- <head>     
</head>
<body> -->
<div class="page-container">
    <app-welcome style="height: auto;"></app-welcome>      
    <div class="page-container-container">               
        <h2>welcome to client control</h2>        
        
        <div class="clientlist-container">
          <div class="col-md-2" style="color: rgb(10, 10, 10);">
            Search:
            <input  type="text" placeholder="Search" [(ngModel)]="searchText"/>
          </div>
          <br>
          <table class="clienttable-container" style="border-style: solid;">
            <tr class="clienttablerowheader-container" >
                <th>Id</th>
                <th>Name</th>
                <th>Aadhar</th>
                <th>PAN</th>
            </tr>           
            <tr *ngFor="let com of clients | filter:searchText | paginate:{itemsPerPage:10,currentPage:p}">
                <td>
                    <a (click)="onShowClientInformation(com)"  style="cursor:pointer;">                     
                      {{com.ID}}
                    </a>                  
                </td>   
                <td>
                  <a (click)="onShowClientInformation(com)"  style="cursor:pointer;">     
                    {{com.Name}}
                  </a>                  
                </td>
                <td>
                  <a (click)="onShowClientInformation(com)" style="cursor:pointer;">     
                      {{com.Aadhar}}
                  </a>
                </td>
                <td>
                  <a (click)="onShowClientInformation(com)" style="cursor:pointer;"> 
                    {{com.PAN}}
                  </a>
                </td>              
            </tr>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>       
    </div> 
  </div>
<!-- </body>          -->
    